<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        .alert {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-success {
            background-color: #dff0d8;
            border-color: #d6e9c6;
            color: #3c763d;
        }

        .alert-danger {
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
        }
    </style>
</head>
<body>
    {% with flashed_messg = get_flashed_messages(with_categories = true)%}
    {% if flashed_messg %}
    {% for message in flashed_messg %}
        <h2 style = "color:red">{{ message[0] }}</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    
</body>
</html>
